<form action="/add" method="Post">
    <p>Titulo:</p>
    <input type="text" name="titulo">
    <br>
    <p>Conteúdo:</p>
    <textarea name="conteudo" id="" cols="30" rows="10"></textarea>
    <br>
    <br>
    <button type="submit">Cadastrar postagem</button>
</form>